schemaVersion: 1
framework: udfbenchmarking
mode: plan-only

platforms:
  - id: arm
    arch: aarch64
    hosts:
      - role: client
        hostRef: arm-host
  - id: x86
    arch: x86_64
    hosts:
      - role: client
        hostRef: x86-host

software:
  pythonImage: python:3.11-slim
  dockerRegistry: m.daocloud.io/docker.io
  udfBenchmarkingRepo: https://gitcode.com/stone31415/UDF_Benchmarking.git
  udfBenchmarkingRevision: 29159573d08998a5aee238034d05416510a69d02
  udfBenchmarkingImages:
    arm: udf-benchmarking-bench:py311-np243-arm
    x86: udf-benchmarking-bench:py311-np243-x86
  udfBenchmarkingContainer: udf-benchmarking-bench
  benchmarkName: MockVideoE2EUDF
  benchmarkConfigFile: config.yaml
  benchmarkTimeout: 7200
  numpyVersion: 2.4.3
  aptMirror: https://mirrors.tuna.tsinghua.edu.cn/debian
  aptSecurityMirror: https://mirrors.tuna.tsinghua.edu.cn/debian-security
  pipIndexUrl: https://pypi.tuna.tsinghua.edu.cn/simple
  pipTrustedHosts:
    - pypi.tuna.tsinghua.edu.cn
  pipTimeout: 180
  pipRetries: 10
  profilingTools:
    - perf
    - objdump
    - py-spy
  pythonFlamegraph:
    enabled: true
    rate: 10
    subprocesses: true

hostRefs:
  arm-host:
    connect: ssh
    alias: blue-98
    capabilities:
      ssh: true
      docker: true
      internet: true
      upload: true
      download: true
  x86-host:
    connect: ssh
    alias: zen5
    capabilities:
      ssh: true
      docker: true
      internet: true
      upload: true
      download: true
